
header{
    display:flex;
}
.light
{ background-color: white;}

.dark
{background-color: darkslategrey;
color:beige;
height:100vh;}



.slider{background-color: darkslategrey;}

.blogcontainer{
    display:flex;
flex-direction:column;
}
/* .blog-card
{} */

h3
{border-style:ridge;

}