 
 
 body
 {
    
background-image: url("four.jpg");
background-size: cover;}

header{
    display:flex;
    flex-direction:row-reverse;
    margin:31px;
    }

    #sunshine{ }



main{
    text-align: center;
    display:flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: nowrap;
    }



.rightcontainer{font-size: 20px;}

/* h1{} */

#form
{display: flex;
flex-direction: column;}

#submitButton {

    
    border-width: 5px;
    border-color: #332f59;
    padding:0;
    background-color:#332f59;
    text-align: center;
   color:aliceblue;
    text-decoration: ;
    border-radius: ; */
}

 .leftcontainer
{border: 50px;}

#blogtitle
{font-size: 50px;} 