 
 
 body{
    
 }

header{
    display:flex;
    flex-direction:row-reverse;
    margin:31px;
    }

   /*  #sunshine{ } */



main{
    text-align: center;
    display:flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: nowrap;
    }



.rightcontainer{font-size: 20px;}

/* h1{} */

#form
{display: flex;
flex-direction: column;}

#submitButton {

    
    border-width: 5px;
    border-color: #9fc5e8;
    padding:0;
    background-color:#9fc5e8;
    text-align: center;
   
    text-decoration: ;
    border-radius: ; */
}

 .leftcontainer
{border: 50px;
    border-bottom-right-radius: 188px 208px;
    border-color:#d7e6fa;
    border-style: double;
}

#blogtitle
{font-size: 50px;;} 