*{
margin:0;
padding:0;
font-family:'Times New Roman'Times, serif;
}

/* body{} */

/* header */
/* nav 
button SUNSHIE */

/* main */

/* .rightcontainer */
/* h2 */
/* form */ 
/* label */ /* input */ /* FOR USER */
/* label */ /* input */ /* FOR TITLE */
/* label */ /* input */ /* FOR CONTENT */
/* button SUBMIT */

/* .leftcontainer */
/* #blogtitle */
